ul {
  font-family: "Times New Roman", serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  width: calc(860px / 3);
  height: calc(375px + 3.5rem);
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  background-color: #f7f7f7;
  border: solid 2px #b0b0b0;
  border-radius: 10px;
  background-image: url(images/0-sprite.png);
  background-repeat: no-repeat;
}

li:first-child {
  margin-right: 3rem;
  background-position: 0% 4.2rem;
}
li:nth-child(2) {
  margin-right: 3rem;
  background-position: 50% 4.2rem;
}
li:last-child {
  background-position: 100% 4.2rem;
}

